[submodule "assets/reveal.js"]
	path = assets/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "assets/impress.js"]
	path = assets/impress.js
	url = https://github.com/impress/impress.js.git
