<footer id="mainfooter">
	<a href="{{ site.url}}{{ site.baseurl }}"><img src="{{ site.url}}{{ site.baseurl }}/assets/i/logo-nothing2hide-red.svg" alt="Nothing2Hide" title="Nothing2Hide" height="40" /></a>
	<p> {{ page.categories }} | {{ page.title }} | {{ page.licence }}</p>
</footer>

<script src={{ "/assets/reveal.js/js/reveal.js" | prepend: site.baseurl }}></script>

<script>
	// More info https://github.com/hakimel/reveal.js#configuration
	Reveal.initialize({
   controls: true,
    progress: true,
    history: true,
    center: true,
    {%if page.transition %}
      transition: '{{page.transition}}',
    {% else %}
      transition: 'slide', // none/fade/slide/convex/concave/zoom
    {% endif %}

		// More info https://github.com/hakimel/reveal.js#dependencies
		dependencies: [
			{ src: '{{"/assets/reveal.js/plugin/markdown/mardown.js"| prepend: site.baseurl }}' },
			{ src: '{{"/assets/reveal.js/plugin/markdown/markdown.js"| prepend: site.baseurl }}' },				
			{ src: '{{"/assets/reveal.js/plugin/notes/notes.js"| prepend: site.baseurl }}', async: true },
			{ src: '{{"	/assets/reveal.js/plugin/highlight/highlight.js"| prepend: site.baseurl }}', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
		]
	});
</script>

<script src="{{ "/assets/reveal	.js/dist/reveal.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/reveal.js/plugin/zoom/zoom.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/reveal.js/plugin/notes/notes.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/reveal.js/plugin/search/search.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/reveal.js/plugin/markdown/markdown.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/reveal.js/plugin/highlight/highlight.js" | prepend: site.baseurl }}"></script>
<script>

	// Also available as an ES module, see:
	// https://revealjs.com/initialization/
	Reveal.initialize({
		controls: true,
		progress: true,
		center: true,
		hash: true,

		// Learn about plugins: https://revealjs.com/plugins/
		plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
	});

</script>
