<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>{{ page.title }} - Nothing2Hide</title>

	<link rel="stylesheet" href="{{ "/assets/reveal.js/dist/reset.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/assets/reveal.js/dist/reveal.css" | prepend: site.baseurl }}">

  {%if page.theme %}
    <link rel="stylesheet" href="{{ "/assets/reveal.js/dist/theme/" | prepend: site.baseurl | append: page.theme | append: '.css' }}" id="theme"/>
  {% else %}
    <link rel="stylesheet" href="{{ "/assets/css/reveal-n2h.css" | prepend: site.baseurl }}" id="theme"/>
  {% endif %}


	<!-- Printing and PDF exports -->
	<script>
		var link = document.createElement( 'link' );
		link.rel = 'stylesheet';
		link.type = 'text/css';
		link.href = window.location.search.match( /print-pdf/gi ) ? '{{ "/assets/reveal.js/css/print/pdf.scss" | prepend: site.baseurl }}' : '{{ "/assets/reveal.js/css/print/paper.scss" | prepend: site.baseurl }}';
		document.getElementsByTagName( 'head' )[0].appendChild( link );
	</script>
</head>
