<footer id="mainfooter">
	<a href="{{ site.url}}{{ site.baseurl }}"><img src="assets/i/logo-n2h.png" alt="Nothing2Hide" title="Nothing2Hide" height="40" /></a>
	<p> {{ page.categories }} | {{ page.title }} | {{ page.licence }}</p>
</footer>

<script src={{ "/assets/reveal.js/js/reveal.js" | prepend: site.baseurl }}></script>

<script>
	// More info https://github.com/hakimel/reveal.js#configuration
	Reveal.initialize({
   controls: true,
    progress: true,
    history: true,
    center: true,
    {%if page.transition %}
      transition: '{{page.transition}}',
    {% else %}
      transition: 'slide', // none/fade/slide/convex/concave/zoom
    {% endif %}

		// More info https://github.com/hakimel/reveal.js#dependencies
		dependencies: [
			{ src: '{{"/assets/reveal.js/plugin/markdown/marked.js"| prepend: site.baseurl }}' },
			{ src: '{{"/assets/reveal.js/plugin/markdown/markdown.js"| prepend: site.baseurl }}' },				
			{ src: '{{"/assets/reveal.js/plugin/notes/notes.js"| prepend: site.baseurl }}', async: true },
			{ src: '{{"/assets/reveal.js/plugin/highlight/highlight.js"| prepend: site.baseurl }}', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
		]
	});
</script>
