<section>
    <h2>Contact</h2>
    <ul>
        <li>Mail{{site.t.[page.lang].deuxpoints}} {{site.T4Pemail}}</li>
        <li>Signal{{site.t.[page.lang].deuxpoints}} {{ site.signal }}</li>
        <li>Twitter{{site.t.[page.lang].deuxpoints}} <a href="https://twitter.com/{{ site.twitter }}">@{{ site.twitter }}</a></li>
        <li>Mastodon{{site.t.[page.lang].deuxpoints}} <a href="https://mamot.fr/{{ site.mastodon }}">@{{ site.mastodon }}</a></li>
        <li>BlueSky{{site.t.[page.lang].deuxpoints}} <a href="http://twitter.com/{{ site.bluesky }}">@{{ site.bluesky }}</a></li>
    </ul>
</section>
