<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>{{ page.title }}</title>

	<link rel="stylesheet" href="{{ "/assets/reveal.js/css/reveal.css" | prepend: site.baseurl }}">

  {%if page.theme %}
    <link rel="stylesheet" href="{{ "/reveal.js/css/theme/" | prepend: site.baseurl | append: page.theme | append: '.css' }}" id="theme"/>
  {% else %}
    <link rel="stylesheet" href="{{ "/assets/css/reveal-n2h.css" | prepend: site.baseurl }}" id="theme"/>
  {% endif %}

	<!-- Theme used for syntax highlighting of code -->
	<link rel="stylesheet" href="{{ "/assets/reveal.js/lib/css/zenburn.css" | prepend: site.baseurl }}">

	<!-- Printing and PDF exports -->
	<script>
		var link = document.createElement( 'link' );
		link.rel = 'stylesheet';
		link.type = 'text/css';
		link.href = window.location.search.match( /print-pdf/gi ) ? 'assets/reveal.js/css/print/pdf.css' : 'assets/reveal.js/css/print/paper.css';
		document.getElementsByTagName( 'head' )[0].appendChild( link );
	</script>
</head>
