---
---

/**
 * N2H theme for reveal.js.
 *
 */

/*********************************************
 * var
 *********************************************/

$background-color: #111;
$title-color: #fff;
$text-color: #efefef;

/*********************************************
 * Fonts
 *********************************************/

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sans_italic';
    src: url('../fonts/OpenSans-Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/OpenSans-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*********************************************
 * GLOBAL STYLES
 *********************************************/


.reveal {
  font-family: open_sansregular, arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: normal;
  color: $text-color; 
  background-color: $background-color;
}

::selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: $title-color;
  font-family: open_sansbold, arial, Helvetica, sans-serif;
  line-height: 1.2;
  letter-spacing: normal;
  word-wrap: break-word; }

/*********************************************
 * OTHER
 *********************************************/
.reveal .slides h1 {
	font-size: 2em
}
.reveal .slides h2 {
	font-size: 1.5em
}
.reveal .slides p {
  line-height: 1.3;
  margin: 1em 0;
}
.reveal .slides .alignleft {
  text-align: left;
}


/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  color: #fff;
  font-family: 'open_sansbold';
}

.reveal em {
	font-family: open_sans_italic, arial, sans-serif;
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; 
	font-family: open_sans_italic, arial, sans-serif;
  font-style: normal; 
	padding: .2em;
}

.reveal q {
  font-style: italic; }

.reveal pre {
  display: inline-block;
	color: #fff;
	font-size: .9em;
	padding: .1em .2em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
}

.reveal code {
  font-family: monospace;
  background: rgba(255, 255, 255, 0.2);
	font-size: .7em;
	border: 2px solid #999;
	color: #eee;
	margin: 2em 0;
	padding: .5em 1em;
	text-align: left;
  display: block;
	overflow: auto;
  max-height: 400px;
  word-wrap: normal; 
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small,
.reveal cite {
  font-size: 0.6em;
  line-height: 1.2em;
}


/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #fff;
  text-decoration: underline;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #8dcffc;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #068de9; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
/*  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #fff;*/
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);*/ }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #42affa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #fff;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #42affa;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * MAIN FOOTER
 *********************************************/
#mainfooter {
	position: absolute;
	bottom: 16px;
	left: 2%;
	z-index: 20;
  font-family: "open_sansregular", arial, helvetica, sans-serif;
  color: #ddd;
}
#mainfooter p {
  margin: .5em 0;
}
#mainfooter img {
 	background: #ff4242;
 	padding: .75rem;
}
