<!DOCTYPE HTML>
<html lang="fr-FR">
<head>
	<meta charset="UTF-8">
	<title>{{ site.title }} : {{ site.description }}</title>
	<meta name="description" content="{site.description}" />
	
	<link rel="stylesheet" href="{{ "/assets/blueprint/src/reset.css" | prepend: site.baseurl }}" type="text/css" media="screen">
	<link rel="stylesheet" href="{{ "/assets/blueprint/src/typography.css" | prepend: site.baseurl }}" type="text/css" media="screen">
	<link rel="stylesheet" href="{{ "/assets/css/reveal-n2h.css" | prepend: site.baseurl }}" type="text/css" media="screen">	
  <link rel="stylesheet" href="{{ "/assets/css/basic.css" | prepend: site.baseurl }}" type="text/css" media="screen">		
	<link rel="stylesheet" href="{{ "/assets/blueprint/src/print.css" | prepend: site.baseurl }}" type="text/css" media="print">

</head>
  <body>
    <div class="container reveal">
      <header>
        <h1>{{ page.title }}</h1>
      </header>
      {{content}}      
    </div>
    <footer id="mainfooter">
      <a href="{{ site.url}}{{ site.baseurl }}"><img src="assets/i/logo-n2h.png" alt="Nothing2Hide" title="Nothing2Hide" height="40" /></a>
      <p> {{ page.title }} | {{ page.licence }}</p>
    </footer>    
  </body>
</html>
